<div class="row row-adjust row-style d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-4">
        <h2 class="dashboard-heading">
            Welcome back, {{user.name}}!
        </h2>
    </div>

    <div class="col-12 col-lg-8">
        <ul id="dashboard-link-list">
            <a href="#" class="dashboard-link-style">
                <li class="dashboard-individual-links">
                    View my jobs
                </li>
            </a>
            <a href="#" class="dashboard-link-style">
                <li class="dashboard-individual-links">
                    View available jobs
                </li>
            </a>
            <a href="#" class="dashboard-link-style">
                <li class="dashboard-individual-links">
                    Messages
                </li>
            </a>
        </ul>
    </div>
</div>

<div class="row row-adjust row-style d-flex justify-content-center align-items-center">
    <div class="col-12 form-center">
        <h2 class="dashboard-heading">
            Search jobs
        </h2>
        <form class="form-styling">
            <div class="mb-3">
                <textarea class="form-control form-heading" id="job-search" rows="1" placeholder="Keyword"></textarea>
            </div>
            <button type="submit" class="btn btn-style" id="search-job">Search</button>
        </form>
    </div>
</div>

<div class="row row-adjust d-flex justify-content-center align-items-center" id="jobs-messages-margin">
    <div class="col-12 col-lg-7 justify-content-end" id="jobs-column-style">
        <h2 class="dashboard-heading">
            My jobs
        </h2>

        <div class="row row-adjust row-style d-flex justify-content-center align-items-center text-center">
            <div class="col-12 col-lg-5 my-job-card">
                <h3 class="my-job-card-heading">
                    Paint fence
                </h3>
                <p class="my-job-card-username">
                    Username
                </p>
                <p>
                    30 minutes
                </p>
                <button type="button" class="btn btn-style job-see-more">See more</button>
            </div>

            <div class="col-12 col-lg-5 my-job-card">
                <h3 class="my-job-card-heading">
                    Tip run
                </h3>
                <p class="my-job-card-username">
                    Username
                </p>
                <p>
                    20 minutes
                </p>
                <button type="button" class="btn btn-style job-see-more">See more</button>
            </div>

            <div class="col-12 col-lg-5 my-job-card">
                <h3 class="my-job-card-heading">
                    Walk dog
                </h3>
                <p class="my-job-card-username">
                    Username
                </p>
                <p>
                    10 minutes
                </p>
                <button type="button" class="btn btn-style job-see-more">See more</button>
            </div>

            <div class="col-12 col-lg-5 my-job-card">
                <h3 class="my-job-card-heading">
                    Create website
                </h3>
                <p class="my-job-card-username">
                    Username
                </p>
                <p>
                    60 minutes
                </p>
                <button type="button" class="btn btn-style job-see-more">See more</button>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-3" id="messages-column-style">
        <h2 class="dashboard-heading" id="messages-heading">
            Messages
        </h2>

        <div class="message-card">
            <p class="my-job-card-username">
                Username
            </p>
            <p class="message-content">
                Job title...
            </p>
        </div>

        <div class="message-card">
            <p class="my-job-card-username">
                Username
            </p>
            <p class="message-content">
                Job title...
            </p>
        </div>

        <div class="message-card">
            <p class="my-job-card-username">
                Username
            </p>
            <p class="message-content">
                Job title...
            </p>
        </div>

        <div class="message-card">
            <p class="my-job-card-username">
                Username
            </p>
            <p class="message-content">
                Job title...
            </p>
        </div>
    </div>
</div>