<div class="row row-style row-adjust row-border d-flex justify-content-center align-items-center">
    <div class="col-12 form-center">
        <h2 id="login-heading">
            New job post
        </h2>
        <form class="form-styling post-job">
            <div class="mb-3">
                <input type="text" class="form-control form-heading only-underline" id="job-title" placeholder="Job title (e.g. mowing, move lounge)">
            </div>
            <div class="mb-3">
                <textarea type="text" class="form-control form-heading only-underline" id="job-desc" rows="3" placeholder="Job description"></textarea>
            </div>
            <div class="row row-adjust d-flex justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="mb-3 new-job-input">
                        <input type="text" class="form-control form-heading only-underline" id="mins-earned" placeholder="Minutes earned">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="mb-3 new-job-input">
                        <input type="text" class="form-control form-heading only-underline" id="job-location" placeholder="Location">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-style post-job-btn">Post job!</button>
        </form>
    </div>
</div>

<script src="/js/dashboard.js"></script>