<div class="row row-adjust row-style d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-6">
        <img src="./images/login-page-image.png" alt="graphic of cartoon people in a group"/>
    </div>


    <div class="col-12 col-lg-6 form-center">
        <h2 id="login-heading">
            Welcome to SKLHub!
        </h2>
        <form class="form-styling login-form">
            <div class="mb-3">
                <input type="email" class="form-control form-heading" id="email-login" placeholder="email address">
            </div>
            <div class="mb-3" id="pwordInput">
                <input type="password" class="form-control form-heading" id="password-login" placeholder="password">
            </div>
            <p><span id="login-failed"></span></p>
            <button type="submit" class="btn btn-style" id ="submitBtn">Log in</button>
        </form>
        <h2 id="login-heading">
            New to SKLHub?
        </h2>
        <a href="/signup">
            <button type="submit" class="btn btn-style">Sign up!</button>
        </a>
    </div>
</div>

<script src="/js/signin.js"></script>