<div class="row row-adjust d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-6">
        <img src="./images/login-page-image.png" alt="graphic of cartoon people in a group"/>
    </div>


    <div class="col-12 col-lg-6 form-center">
        <h2 id="login-heading">
            Welcome to SKLHub!
        </h2>
        <form class="form-styling">
            <div class="mb-3">
                <input type="email" class="form-control form-heading" id="email-login" placeholder="email address">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control form-heading" id="password-login" placeholder="password">
            </div>
            <button type="submit" class="btn btn-style">Log in</button>
        </form>
        <h2 id="login-heading">
            New to SKLHub?
        </h2>
        <button type="submit" class="btn btn-style">Sign up!</button>
    </div>
</div>