<div class="row row-style row-adjust d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-6">
        <img src="./images/login-page-image.png" alt="graphic of cartoon people in a group"/>
    </div>


    <div class="col-12 col-lg-6 form-center">
        <h2 id="login-heading">
            Join SKLHub! Enter your details below.
        </h2>
        <form class="form-styling signup-form">
            <div class="mb-3">
                <input type="text" class="form-control form-heading" id="name-signup" placeholder="username">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control form-heading" id="email-signup" placeholder="email address">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control form-heading" id="password-signup" placeholder="password">
            </div>
            <p><span id="signup-failed"></span></p>

            <button type="submit" class="btn btn-style">Sign up!</button>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>