<div class="row row-adjust row-style row-border d-flex justify-content-center align-items-center">
    <div class="col-12">
        <div class="row row-adjust">
            <div class="col-12 text-center">
                <h2 class="dashboard-heading">
                    Job post 1
                </h2>
                <p>Username</p>
            </div>
        </div>
        <div class="row row-adjust text-center">
            <div class="col-12 col-lg-6">
                <p class="job-details">
                    <i class="bi bi-stopwatch-fill icon-color"></i> 60 minutes
                </p>
            </div>

            <div class="col-12 col-lg-6">
                <p class="job-details">
                    <i class="bi bi-geo-alt-fill icon-color"></i> Job location
                </p>
            </div>
        </div>

        <div class="row row-adjust">
            <div class="col-12">
                <p>
                    Description Lorem ipsum dolor sit amet. Sed rerum fuga ut totam tenetur nam nobis possimus sit voluptatem distinctio est ipsa dicta qui molestias quia. In sunt voluptates 33 laudantium odio a consectetur ipsa eos internos nesciunt a cupiditate ipsam eum voluptatem quia.
                </p>
            </div>
        </div>

        <div class="row row-adjust">
            <div class="col-12 text-center">
                <p>
                    <span id="skill-swap">Skill swap:</span> skill here
                </p>
            </div>
        </div>

        <div class="row row-adjust">
            <div class="col-12 col-lg-6 text-center">
                <button type="button" class="btn btn-style accept-job">Accept job</button>
            </div>

            <div class="col-12 col-lg-6 text-center">
                <button type="button" class="btn btn-style accept-job">Contact user</button>
            </div>
        </div>
    </div>
</div>