:root {
    --dark-blue: #0D2149;
    --dark-green: #048A81;
    --light-green: #AFE9BB;
    --light-color: #F5F5F5;
    --pink: #FAB3A9;
    --font: 'Roboto', sans-serif;
}


/* HTML selectors and styling */

body {
    font-family: var(--font);
}

header {
    background-color: var(--dark-blue);
}

header a {
    color: var(--dark-green);
    text-decoration: none;
}

h1 {
    font-weight: bolder;
    font-size: 50px;
    margin: 25px;
}

img {
    object-fit: cover;
    width: 100%;
}


/* pseudo selectors and styling */

.nav-link-color:hover {
    color: var(--light-green);
}

header a:hover {
    color: var(--light-green);
}


/* class selectors and styling */

.nav-link-color {
    color: var(--dark-green);
    font-size: 25px;
}

.navbar-margin {
    margin-right: 25px;
}

.form-styling {
    margin: 25px;
}

.form-heading {
    font-size: 25px;
}

.row-adjust {
    --bs-gutter-x: 0;
    margin: 20px;
    padding: 20px;
    background-color: var(--light-color);
}

.btn-style {
    background-color: var(--pink);
    padding: 10px 40px;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}

.form-center {
    text-align: center;
}


/* id selectors and styling */

#skl {
    color: var(--light-green);
}

#login-heading {
    margin: 25px;
    font-weight: bolder;
    color: var(--dark-blue);
    text-align: center;
}


/* JS styling */

#failed-msg {
    font-size: 10px;
    color: red;
    font-style: italic;
}