:root {
    --dark-blue: #0D2149;
    --dark-green: #048A81;
    --light-green: #AFE9BB;
    --light-color: #F5F5F5;
    --pink: #FAB3A9;
    --font: 'Roboto', sans-serif;
}


/* HTML selectors and styling */

body {
    font-family: var(--font);
}

header {
    background-color: var(--dark-blue);
}

header a {
    color: var(--dark-green);
    text-decoration: none;
}

h1 {
    font-weight: bolder;
    font-size: 50px;
    margin: 25px;
}

img {
    object-fit: cover;
    width: 100%;
}

p {
    font-size: 18px;
}


/* pseudo selectors and styling */

.nav-link-color:hover {
    color: var(--light-green);
}

header a:hover {
    color: var(--light-green);
}

.btn-style:hover {
    background-color: var(--dark-green);
    color: var(--light-color);
}

.dashboard-link-style:hover {
    color: var(--light-color);
}

.dashboard-individual-links:hover{
    background-color: var(--dark-green);
}


/* class selectors and styling */

.nav-link-color {
    color: var(--dark-green);
    font-size: 25px;
}

.navbar-margin {
    margin-right: 25px;
}

.form-styling {
    margin: 25px;
}

.form-heading {
    font-size: 25px;
}

.row-adjust {
    --bs-gutter-x: 0;
}

.btn-style {
    background-color: var(--pink);
    padding: 10px 40px;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}

.form-center {
    text-align: center;
}

.dashboard-heading {
    font-weight: bolder;
    margin: 10px;
    text-align: center;
}

.dashboard-individual-links {
    border: 2px solid var(--dark-green);
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

.dashboard-link-style {
    color: var(--dark-blue);
    text-decoration: none;
}

.row-style {
    margin: 20px;
    padding: 20px;
    background-color: var(--light-color);
}

.my-job-card {
    border: 2px solid var(--dark-blue);
    padding: 20px;
    margin: 20px;
}

.my-job-card-heading {
    font-size: 25px;
    font-weight: bolder;
    color: var(--dark-green);
}

.my-job-card-username {
    color: var(--dark-green);
    font-weight: bolder;

}

.message-card {
    margin: 20px;
    padding: 20px;
    background-color: var(--light-color);
}

.message-content {
    color: var(--dark-green);
}

.job-details {
    font-weight: bolder;
}

.icon-color {
    color: var(--dark-green);
}

.row-border {
    border: 2px solid var(--dark-blue);
}

.new-job-input {
    margin: 20px;
}

.only-underline {
    border: none;
    border-bottom: 1px solid var(--dark-blue);
    background-color: var(--light-color);
    align-items: center;
}

.post-job-btn {
    margin-top: 30px;
}

/* id selectors and styling */

#skl {
    color: var(--light-green);
}

#login-heading {
    margin: 25px;
    font-weight: bolder;
    color: var(--dark-blue);
    text-align: center;
}

#dashboard-link-list {
    list-style: none;
    padding-left: 5px;
}

#jobs-column-style {
    background-color: var(--light-color);
    border: 2px solid var(--dark-blue);
    margin: 0 40px;
}

#messages-column-style {
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    margin: 0 40px;
}

#messages-heading {
    color: var(--light-green);
}

#jobs-messages-margin {
    margin: 20px;
}

#skill-swap {
    font-weight: bolder;
}


/* JS styling */

#failed-msg {
    font-size: 10px;
    color: red;
    font-style: italic;
}